*{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
html,body{
    width: 100%;
    overflow-x: hidden;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #103857;
}
.home_background{
background-image: url("https://angular-deployment-e10b5.web.app/banner-bg.635bd95a1f57ed59a9c8.png");
background-position: left;
background-size: cover;
height: 600px;
}
.navbar a {
color: white;
text-decoration: none;
padding: 8px 16px;
display: inline-block;
}
.navbar .brand {
font-weight: bold;
font-size: 1.5em;
}
.navbar .nav-items {
display: flex;
align-items: center;
color: white;
font-size: 19px;
font-weight: 600;
line-height: 27px;
margin-right: 51px;
}
.navbar .nav-item {
position: relative;
}
.navbar .dropdown {
display: none;
position: absolute;
top: 100%;
left: 0;
background-color: #fff;
width: 140px; 
}
.navbar .dropdown a {
    padding: 10px 16px;
    display: block;
    font-weight: 300;
    font-size: 13px;
    margin: 0px;
    color: #103857;
}
.navbar .nav-item:hover .dropdown {
display: block;
}
.logo {
display: flex;
align-items: center;
}
.digital_tod_nav_logo{
height: 76px;
margin-right: 0px;
margin-left: 54px;
margin-top: 5px;
}
.nav-links {
display: flex;
justify-content: end;
margin-top: 20px;
}
.nav-links a {
color:black;
text-decoration: none;
padding: 10px 15px;
display: inline-block;
}

.cta-button a {
background-color: #1a3b54;
color: #fff;
font-weight: 700;
font-size: 16px;
border-radius: 24px;
margin-right: 30px;
margin-left: 30px;
margin-top: 1px;
}
.each-link-item{
margin-right:25px;
color: #103857;
font-weight: 600;
font-size: 18px;
}
.services_page_content{
    font-weight: 400;
    font-size: 17px;
    margin-top: 0px;
    margin-left: 18px;
    color: rgb(33, 37, 41);
    line-height: 26px;
}
a {
    text-decoration: none;
}
.services_banner_content_image_alignment{
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}
.image_button_alignment{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.blog_page_image{
    height: 380px;
    width: 380px;
}
.blog_page_button{
    width: 130px;
    height: 35px;
    border-radius: 8px;
    border-width: 2px;
    margin-top: 40px;
    margin-right: 15px;
    border-color: #103857;
    text-align: center;
    color: #103857;
    background-color: white;
    font-size: 17px;
}
.blog_page_button:hover{
    background-color: #1a3b54;
    color: white;
    transition: 0.2s ease-in;
}
.quotation_text{
    font-weight: 400;
    font-style: italic;
    margin-top: 40px;
    font-size: 24px;
    line-height: 36px;
    color:  rgb(16, 56, 87);
}
.quotation_alignment{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.services_contents-block{
    display: flex;
    flex-direction: column;
}
.services_cards_display{
    background-color: #f6f4f4;
    display: flex;
    padding: 15px;
    margin-top: 15px;
    flex-direction: row;
    justify-content: center;
}
.services_list_card{
    background-color: white;
    width: 250px;
    padding: 15px;
    margin: 15px;
    color: rgb(16, 56, 87);
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, .1607843137254902);
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 29px;
}
.services_cards_second_row_display{
    background-color: #f6f4f4;
    display: flex;
    padding: 15px;
    margin-bottom: 20px;
    flex-direction: row;
    justify-content: center;
}
.footer_section{
    background-color: #103857;
    color: white;
}
.footer_section_container{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 35px;
}
.follow_us_icon{
    height:40px;
}
.follow_us_icons_alignment{
    display: flex;
    flex-direction: row;
}
.about_us_why_us_blog_alignment{
    margin-top: 45px;
}
.copy_right_content{
    text-align: center;
    margin: 5px;
}
.footer_about_why_us_blog_heading{
    font-size: 18px;
    color: white;
    font-weight: 400;
    line-height: 27px;
    text-decoration: none;
}
.footer_services_contact_heading{
    font-size: 23px;
    color: white;
    font-weight: 400;
    line-height: 25px;
}
.footer_services_contact_us-content{
    font-size: 14px;
    color: white;
    font-weight: 400;
    line-height: 21px;
    list-style: none;
}
.follow_us_heading{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}
@media (max-width:1024px) {
    .services_banner_content_image_alignment{
        max-width: 100%;
    }
    .services_banner_content_container{
        max-width: 47%;

    }
    .services_banner_image_container{
        max-width: 53%;
        margin-left: 47px;
        margin-right: 35px;
    }
    .smm_image{
        max-width: 100%;
        height: 350px;
    } 
}
@media (min-width:768px) and (max-width:1023px) {
    .services_banner_content_image_alignment{
        max-width: 100%;
    }
    .services_banner_content_container{
        max-width: 45%;
    }
    .blog_page_button{
        margin-left: 34px;
        margin-top: 15px;
    }
    .services_banner_image_container{
        max-width: 55%;
        margin-left: 47px;
        margin-right: 35px;
    }
    .smm_image{
        max-width: 100%;
        height: 270px;
    } 
    .digital_tod_nav_logo{
        margin-left: 17px;
        height: 60px;
    }
    .quotation_alignment{
        max-width: 80%;
        justify-content: center;
        align-items: center;
        margin-left: 45px;
        padding: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .quotation_text{
        font-weight: 100;
        font-size: 22px;
    } 
}
@media (max-width:767px) and (min-width:425px) {
    .navbar{
        display: none;
    }
    .services_banner_content_image_alignment{
        margin-top: 20px;
    }
    .services_page_content{
        margin-left: 14px;
    }
    .services_banner_content_container{
        max-width: 90%;
        margin: 10px;
    }
    .blog_page_image{
        height: 380px;
        width: 380px;
    }
    .blog_page_button{
        margin-top: 10px;
        margin-left: 40px;
    }
    .services_cards_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_cards_second_row_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_list_card{
        font-size: 19px;
        font-weight: 300;
    }
    .services_banner_content_image,.smm_image{
        display: none;
    }
    .quotation_alignment{
        max-width: 80%;
        text-align: center;
        text-align: left;
        margin: 13px;
        padding: 16px;
    }
    .quotation_text{
        font-size: 23px;
        font-weight: 250;
    }
    .footer_section_container{
        flex-wrap: wrap;
    }     
}
@media (max-width:424px) and (min-width:375px) {
    .navbar{
        display: none;
    }
    .services_page_content{
        margin-left: 14px;
    }
    .services_banner_content_image_alignment{
        margin-top: 20px;
    }
    .services_banner_content_container{
        max-width: 90%;
        margin: 10px;
    }
    .image_button_alignment{
        margin-top: 10px;
    }
    .blog_page_button{
        margin-top: 10px;
        margin-left: 40px;
    }
    .services_cards_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_cards_second_row_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_list_card{
        font-size: 19px;
        font-weight: 300;
    }
    .services_banner_content_image,.smm_image{
        display: none;
    }
    .quotation_alignment{
        max-width: 80%;
        text-align: center;
        text-align: left;
        margin: 13px;
        padding: 16px;
    }
    .quotation_text{
        font-size: 23px;
        font-weight: 250;
    }
    .footer_section_container{
        flex-wrap: wrap;
    }   
    
}
@media (max-width:320px) {
    .navbar{
        display: none;
    }
    .services_page_content{
        margin-left: 14px;
    }
    .services_banner_content_image_alignment{
        margin-top: 20px;
    }
    .blog_page_image{
        height: 300px;
        width: 300px;
    }
    .blog_page_button{
        margin-top: 10px;
        margin-left: 40px;
    }
    .image_button_alignment{
        margin-top: 10px;
    }
    .services_banner_content_container{
        max-width: 90%;
        margin: 10px;
    }
    .services_cards_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_cards_second_row_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_list_card{
        font-size: 19px;
        font-weight: 300;
    }
    .services_banner_content_image,.smm_image{
        display: none;
    }
    .quotation_alignment{
        max-width: 80%;
        text-align: center;
        text-align: left;
        margin: 13px;
        padding: 16px;
    }
    .quotation_text{
        font-size: 23px;
        font-weight: 250;
    }
    .footer_section_container{
        flex-wrap: wrap;
    }   
    
}
@media (max-width:424px) and (min-width:375px) {
    .navbar{
        display: none;
    }
    .services_page_content{
        margin-left: 14px;
    }
    .services_banner_content_image_alignment{
        margin-top: 20px;
    }
    .services_banner_content_container{
        max-width: 90%;
        margin: 10px;
    }
    .services_cards_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image_button_alignment{
        margin-top: 10px;
    }
    .blog_page_image{
        height: 300px;
        width: 300px;
    }
    .blog_page_button{
        margin-top: 10px;
        margin-left: 40px;
    }
    .services_cards_second_row_display{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .services_list_card{
        font-size: 19px;
        font-weight: 300;
    }
    .services_banner_content_image,.smm_image{
        display: none;
    }
    .quotation_alignment{
        max-width: 80%;
        text-align: center;
        text-align: left;
        margin: 13px;
        padding: 16px;
    }
    .quotation_text{
        font-size: 23px;
        font-weight: 250;
    }
    .footer_section_container{
        flex-wrap: wrap;
    }   
    
}
    
